div.topbar
  a(href="/products/new") Manga Shop
  div.right
    a(href="/cart") Panier
    if isAuthenticated
      a(href="/auth/signout") Déconnexion
    else
      a(href="/auth/signin/form") Connexion
      a(href="/users/signup/form") Inscription